.container {
  display: flex;
  justify-content: space-evenly;
}

#selected_div {
  margin-top: 100px;
  margin-bottom: 50px;
}

#selected {
  font-size: 48px;
  padding-left: 12%;
}

#position_error {
  background-color: #ffffff;
  width: 800px;
  height: 500px;
  text-align: center;
  line-height: 500px;
}
