.container {
  display: flex;
  justify-content: space-evenly;
  width: 1500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#position_error {
  background-color: #ffffff;
  width: 800px;
  height: 500px;
  text-align: center;
  line-height: 500px;
}
