.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 100px 0 100px;
  margin-top: 200px;
}

#position_error {
  background-color: #ffffff;
  width: 800px;
  height: 500px;
  text-align: center;
  line-height: 500px;
}
