#selectContainer {
  position: absolute;
  width: 1000px;
  height: 600px;
  top: calc(50% - 150px);
  left: calc(50% - 500px);
}

.selectGroup {
  display: flex;
  justify-content: space-evenly;
}

.selectGroup_middle {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 30px 0;
}
