body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  height: 100%;
}

.custom-shape-divider-top-1645273413 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1645273413 svg {
  position: relative;
  display: block;
  width: calc(250% + 1.3px);
  height: 449px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1645273413 .shape-fill {
  fill: #ffffff;
}
